
/**
 * Header Cart
 */

.primary_header {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

.dostart-header-cart {
  padding-left: 25px;
}

.cart-contents {
  position: relative;
}

.cart-contents i {
  color: #333;
  font-size: 18px
}

.cart-contents .count {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
}

.cart-contents .count {
  position: absolute;
  top: -30px;
  left: 14px;
  height: 13px;
  padding: 0;
  margin: 19px -7px 0 0;
}
