
/**
 * checkout page
 */

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  max-width: 48%
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 48%
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 200px
}

.woocommerce .col2-set .menu-col-1,
.woocommerce-page .col2-set .menu-col-1 {
  max-width: 48%
}

.woocommerce .col2-set .menu-col-2,
.woocommerce-page .col2-set .menu-col-2 {
  max-width: 48%;
}

.woocommerce-input-wrapper {
  width: 100% !important;
}

.woocommerce form .password-input,
.woocommerce-page form .password-input {
  width: 100%
}

.select2-container .select2-selection--single{
  height: 38px;
  padding: 6px;
  margin-bottom: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  right: 3px;
}
.select2-search--dropdown .select2-search__field {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  color: #fff;
}