
.woocommerce-account {
  #site-content .woocommerce {
    max-width: 1600px;
    padding: 0 6vw;
    margin: 0 auto;
  }

  .woocommerce-MyAccount-content {
    float: right;
    width: 78%;
    padding: 30px 0px;
  }

   table.account-orders-table{
     tr, th, td{
       border: 1px solid #ddd;
     }

   }

  .woocommerce-MyAccount-navigation{
      float: left;
      width: 20%;
      padding: 30px 0px;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li{
        padding: 0;
        border-right: 1px solid #eee;
        border-left:1px solid #eee;
        border-top:1px solid #eee;
        padding: 12px 10px;
        list-style: none;

        &:last-child{
          border-bottom: 1px solid #eee;
        }

        a{
          font-size: 18px;
          font-weight: 500;
          color:#333;
        }

      }

  }

  .woocommerce-Address-title a {
    color: #333;
    font-weight: 500;
  }


}


.woocommerce .col2-set,
.woocommerce-page .col2-set {
  width: 100%;
}

.woocommerce{
  .u-columns.col2-set .col-1 {
    float: left;
    width: 48%;
    padding: 0;
    background-color:#fff;
    padding:20px;
    border-radius: 10px;

  }

  .u-columns.col2-set .col-2 {
    float: right;
    width: 48%;
    padding: 0;
    background-color:#fff;
    padding:20px;
    border-radius: 10px;
  }

}

@media (max-width: 786px) {
  .woocommerce .u-columns.col2-set .col-1{
    width:100%;
  }
  .woocommerce .u-columns.col2-set .col-2{
    width:100%;
  }
}

