
.dostart-breadcrumb{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #065FD4;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 80px 0 80px;
}

.dostart-breadcrumb h1,
.dostart-breadcrumb a {
  color: #ffffff;
}

.breadcrumb-inner-content h1 {
  font-size: 45px;
  margin-bottom: 5px;
}



.dostart-breadcrumb ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;

  li {
    position: relative;
    margin-right: 25px;

    a {
      &:hover{
        color:#fff
      }
    }

    &:before {
      position: absolute;
      content: '»';
      top: -2px;
      right: -15px;
      font-size: 18px;
      font-style: italic;
    }


    &:last-child::before {
      display: none;
    }

  }


}




/*-------[ Breadcrumb Responsive ] ------*/

@media( max-width: 1200px) {}

@media( max-width:991px) {
  .dostart-breadcrumb-bg{
    padding: 105px 0 105px;
  }
  .breadcrumb-inner-content h1{
    font-size: 33px;
    margin-bottom: 5px;
  }

}

@media( max-width:767px) {
  .dostart-breadcrumb{
    padding: 50px 0 50px;
  }
}

@media( max-width:480px) {}

@media( max-width:320px) {}