.search article.page .entry-summary {
  display: none;
}

.search article.post .entry-summary {
  display: none;
}

.search article.page {
  margin-bottom: 50px;
}

.dostart-post-featured-content {
  margin-bottom: 30px;
  position: relative;
}

.dostart-post-featured-content img {
  width: auto;
}

body.blog .dostart-post-featured-content img {
  max-width: 100%;
  height: auto !important;
  vertical-align: bottom;
  margin: 0;
  border: 0;
}

article.post {
  margin-bottom: 50px;
  border: 1px solid #eee;
  padding: 20px 20px 30px 20px;
  box-shadow: 1px 1px 17px 1px #eee
}

.entry-footer {
  color: #7e858c;
  font-size: 93%;
  clear: both;
}

.entry-footer span a {
  color: #7e858c;
  text-decoration: underline;
}

.entry-footer span.edit-link a {
  color: #000;
  text-decoration: none;
}

article a.dostart-btn {
  color: #fff;
  background-color: #065FD4;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  padding: 12px 27px;
  margin-bottom: 15px;
  margin-top: 10px;
}

article a.dostart-btn:hover {
  background-color: #333333;
  color: #ffffff;
}

.post-content-wrapn h2 {
  margin: 0 0 5px;
}

.entry-content {

  ul {
    list-style: disc outside;
  }

  ol {
    list-style: decimal;
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
  }


  address {
    border: 1px solid #ddd;
    padding: 10px;
  }

}

.post-meta>span:after {
  content: '-';
  margin-right: 5px;
}

.post-meta>span:last-child:after {
  display: none;
}

.post-meta>span i {
  display: none;
}

.post-meta>span a {
  color: #7e858c;
  margin-right: 8px;
  font-size: 13px;
}

.post-meta>span:hover a {
  color: #2dad82;
}

.post-meta {
  position: relative;
  margin-bottom: 40px;
}

.post-meta:after {
  background-color: #2dad82;
  bottom: -22px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 45px;
}




.blog-page-padding {
  padding-right: 35px;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  padding-left: 10px;
  border-color: #065FD4;
}

.blog-sidebar .widget {
  border: 1px solid #efefef;
  padding: 20px 15px;
}

/*-------[ Pagination ] ------*/
.pagination {
  display: unset;
  margin-top: 50px;

  .nav-links {
    margin: 0 auto;

    .page-numbers {
      display: inline-block;
      padding: 9px 18px;
      border-radius: 6px;
      background: #eaeaea;
      color: #333;


      &:hover {
        color: #fff;
        background-color: #065fd4;
      }


      &.current {
        color: #fff;
        background-color: #065fd4;
      }

    }


  }

}


/**--------- Blog Previous Next Button ----------------*/

.navigation.post-navigation .nav-links {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;


  .nav-next a,
  .nav-previous a {
    display: inline-block;
    border-radius: 60px;
    cursor: pointer;
    border: px solid;
    touch-action: manipulation;
    transition: all .3s ease 0s;
    color: #333;
    display: block;
    padding: 10px 0;

    &:hover {
      color: #222222;
      text-decoration: underline;
    }

  }


}





/***************************
      Related  Post Grid
****************************/

.related-posts {
  padding-top: 50px;
}

.dostart-blog-item {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  &-content {
    padding: 20px;


    ul {
      margin-bottom: 0;
      margin: 0;
      padding-left: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li i {
        margin-right: 10px;
        font-size: 14px;
      }

    }



  }


  &-img {
    position: relative;


    span {
      background: rgba(0, 0, 0, 0.50);
      -webkit-box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
      box-shadow: 0px 10px 30px 0px rgba(54, 56, 110, 0.15);
      position: absolute;
      left: 10px;
      bottom: 10px;
      border: 1px solid #fff;
      border-radius: 20px;
      padding: 0 15px;
      font-size: 14px;

      a {
        color: #fff;
      }

    }

    img {
      width: 100%;
    }
  }


  &-meta {
    font-size: 16px;
    border-top: 1px solid #eceef2;
    padding-top: 15px;
    margin-top: 15px;

    a {
      display: flex;
      align-items: center;
      padding-right: 10px;
    }


    .avatar {
      border-radius: 50%;
      margin-right: 10px;
    }

    .blog-meta-info {
      position: relative;
      margin: 0;
      padding-right: 20px;

      &:after {
        content: '';
        position: absolute;
        top: 8px;
        right: 16px;
        background: #b7b2b2;
        height: 16px;
        width: 1px;
      }


      &:last-child {
        margin-right: 0;
      }

    }

    .blog-meta-info:last-child:after {
      display: none;
    }


  }

  &-content {

    h4 {
      font-size: 20px;
      margin-bottom: 0;
      margin: 0;
      color: #333;
      padding-bottom: 20px
    }

    p {
      font-size: 16px
    }


    .blog-btn {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 16px;
    }


    .blog-item-date {
      margin: 0;
    }


  }



}


/*-------[ Blog Responsive ] ------*/

@media(max-width: 1200px) {}

@media(max-width:991px) {}

@media(max-width:767px) {
  .blog-page-padding {
    padding-right: 15px;
  }

  .entry-header h2 {
    font-size: 23px;
    line-height: normal;
  }
}

@media(max-width:480px) {
  .entry-header h2 {
    font-size: 18px;
    line-height: 22px;
  }
}

@media(max-width:320px) {}