/*------------------------------------------------------------------------
   Woocommerce CSS
/*------------------------------------------------------------------------*/
/**
 * checkout page
 */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  max-width: 48%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 48%;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 200px;
}

.woocommerce .col2-set .menu-col-1,
.woocommerce-page .col2-set .menu-col-1 {
  max-width: 48%;
}

.woocommerce .col2-set .menu-col-2,
.woocommerce-page .col2-set .menu-col-2 {
  max-width: 48%;
}

.woocommerce-input-wrapper {
  width: 100% !important;
}

.woocommerce form .password-input,
.woocommerce-page form .password-input {
  width: 100%;
}

.select2-container .select2-selection--single {
  height: 38px;
  padding: 6px;
  margin-bottom: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  right: 3px;
}

.select2-search--dropdown .select2-search__field {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  color: #fff;
}

/**
 * My Account Page
 */
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  margin-left: 20px;
}

.woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.woocommerce-MyAccount-navigation ul li {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-bottom-width: 0;
}

.woocommerce-MyAccount-navigation li:last-child {
  border-bottom: 1px solid #ccc;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
  padding: 6px 0px;
  color: #007bff;
  font-weight: 600;
}

.woocommerce-MyAccount-navigation ul li a {
  color: #666;
}

.woocommerce table.my_account_orders {
  font-size: 14px;
}

.woocommerce table.my_account_orders .button {
  margin-right: 5px;
  font-size: 13px;
}

.woocommerce table.shop_table {
  border-top: 0;
  border-right: 0;
}

/*-------[ WooCommerce Responsive ] ------*/
@media (max-width: 1200px) {
  .dostart-page-content .wpb_text_column li {
    margin-bottom: 7px;
    display: none;
  }
}
@media (max-width: 991px) {
  .woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    max-width: 100%;
  }

  .dostart-page-content .wpb_text_column li {
    margin-bottom: 7px;
  }

  .woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    max-width: 100%;
  }
}